<style>
.container-fluid a{
  text-decoration:none;
  
}

</style>
<nav class="navbar navbar-light" style="background-color: #000000">

  <div class="container-fluid">


     <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Animal_Sale", root_path, class: "navbar-brand"%></li>   
    


    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="/categories/:id " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories <span class="caret"></span>
                        </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><%=link_to categories_path(1) do%>Dog<%end%></li>
                          <li><%=link_to categories_path(2) do %>Cats<%end%></li>
                          <li><%=link_to categories_path(3) do %>Birds<%end%></li>

                    </ul>


   </ul>




 

  <div class="input-group">
    
    <div class="input-group-btn">

      
      </button>
    </div>
  </div>
</form> 




<%= link_to new_product_path do %>
<button  class="btn btn-warning navbar-btn">+ Dodaty oholoshennya</button>
<%end%>



  <ul class="nav navbar-nav navbar-right">
    <% if current_user.nil? %>
    <li>
   
    <%= link_to new_user_registration_path do %>
      <i class="glyphicon glyphicon-user"></i> Sing up
      <%end%>
      </li>
        <li>
    <%= link_to user_session_path do %>
      <i class="glyphicon glyphicon-log-in"></i> Login
      <%end%>
        </li>

      <% else %> 
      <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Logout
  <%end%>

      </li>
       <% end %>
    </ul>

  </div>
  </div>
  </div>
 
</nav> 
